<div>
  <form
    class="row gy-3"
    [formGroup]="themeForm"
    (ngSubmit)="themeForm.valid && onSubmit()"
    enctype="multipart/form-data"
  >
    <mat-form-field class="col-6" appearance="fill">
      <mat-label>نام</mat-label>
      <input
        matInput
        formControlName="name"
        name="name"
        type="text"
        required
        [ngModel]="theme.name"
      />
      <mat-error
        class="fs-7"
        *ngIf="submitted && themeForm.get('name')?.hasError('required')"
      >وارد کردن نام تم الزامی می باشد.
      </mat-error>
    </mat-form-field>
    <mat-form-field class="col-6">
      <mat-label>فونت</mat-label>
      <mat-select [ngModel]="theme.font_family" formControlName="font_family">
        <mat-option *ngFor="let font of fontFamilies" [value]="font">
          {{font}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <div class="col-4 d-flex align-items-center">
      <label for="menu_background_color" class="form-label fs-5">رنگ پس زمینه </label>
      <input [ngModel]="theme.menu_background_color" id="menu_background_color" formControlName="menu_background_color"
             type="color" class="form-control form-control-color me-2">
    </div>
    <div class="col-4 d-flex align-items-center">
      <label for="menu_text_color" class="form-label fs-5">رنگ متن </label>
      <input [ngModel]="theme.menu_text_color" id="menu_text_color" formControlName="menu_text_color" type="color"
             class="form-control form-control-color me-2" value="#563d7c">
    </div>
    <div class="col-4 d-flex align-items-center">
      <label for="header_color" class="form-label fs-5">رنگ هدر </label>
      <input [ngModel]="theme.header_color" id="header_color" formControlName="header_color" type="color"
             class="form-control form-control-color me-2" value="#563d7c">
    </div>
    <div class="mt-5">
      <div class="d-flex mb-3">
        <h4 class="ms-5">بارگذاری لوگو</h4>
        <button *ngIf="theme.logo_image" (click)="openShowLogoImageDialog(theme.logo_image)" mat-button color="primary"
                type="button">لوگوی فعلی
        </button>
      </div>
      <app-dropzone formControlName="logo_image"></app-dropzone>
    </div>
    <div class="mt-4">
      <button
        type="submit"
        (click)="submitted = true"
        mat-raised-button
        color="primary"
      >
        ثبت
      </button>
      <button
        *ngIf="formMethod==='put'"
        (click)="openDeleteThemeDialog(theme.id, theme.name)"
        class="me-3"
        mat-stroked-button
        color="warn"
        type="button"
      >
        حذف تم
      </button>
    </div>
  </form>
</div>

