.room-title-container {
  margin-top: 1rem;

  p {
    line-height: 1rem;
  }
}

.message-box-container {
  padding: .2rem 1rem;

  .message-text {
    white-space: pre;
  }
}

.message-box-user {
  border-radius: 1.25rem 1.25rem 0 1.25rem;
}

.message-box-others {
  border-radius: 1.25rem 1.25rem 1.25rem 0;
}

.message-input {
  max-height: 120px !important;
  overflow: scroll;
  resize: none;
}

.send-icon {
  transform: rotateY(180deg);
}

ngx-emoj {
  z-index: 700;
  position: absolute;
  bottom: 85%;
  left: 6%;
}

::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
}

