<section class="d-flex flex-column h-100">
  <nav class="d-flex justify-content-between p-2 bg-light">
    <div class="d-flex align-items-center">
      <button (click)="back()" mat-icon-button color="primary">
        <mat-icon>arrow_forward</mat-icon>
      </button>
      <div class="me-3 room-title-container">
        <p class="m-0 fs-5-5 room-title">{{ getRoom().title }}</p>
        <p class="m-0 text-muted fs-7">
          {{ getRoom().users.length.toString() | numLatinToFa }} عضو
        </p>
      </div>
    </div>
    <button
      [cdkCopyToClipboard]="getRoom()._id"
      mat-icon-button
      color="primary"
      matTooltip="کپی کردن شناسه گتفگو"
    >
      <mat-icon>content_copy</mat-icon>
    </button>
  </nav>
  <ul id="scroller" #messageBox class="p-2 pt-3 m-0 flex-grow-1 overflow-auto">
    <p class="text-muted text-center mb-3 fs-7">
      تشکیل شده در {{ getRoom().createdAt | date : "mediumDate" }}
    </p>
    <li
      appScroller
      *ngFor="let message of getMessages()"
      class="d-flex flex-column"
    >
      <ng-container *ngIf="message.type === 'send'">
        <p *ngIf="message.showDate" class="text-muted text-center fs-7 my-3">
          {{ message.time | date : "mediumDate" }}
        </p>
        <div
          class="mb-2 d-inline-block message-box-container"
          [ngClass]="
          message.isCurrentUser
            ? 'bg-primary text-white align-self-start message-box-user'
            : 'bg-light  align-self-end message-box-others'
        "
        >
          <p
            *ngIf="!message.isCurrentUser && message.isFirst"
            class="m-0 text-primary"
          >
            {{ message.user_id | getUserName }}
          </p>
          <div class="d-flex">
            <p class="m-0 ps-2 message-text">{{ message.message }}</p>
            <span
              [ngClass]="message.isCurrentUser ? 'text-light' : 'text-muted'"
              class="m-0 align-self-end fs-8 text-nowrap"
              dir="ltr"
            >{{ message.time | date : "shortTime" }}</span
            >
          </div>
        </div>
      </ng-container>
      <ng-container *ngIf="message.type === 'join'">
        <p class="text-center text-muted fs-7 mt-2">{{message.user_id | getUserName}} به گفتگو پیوست</p>
      </ng-container>
      <ng-container *ngIf="message.type === 'leave'">
        <p class="text-center text-muted fs-7 mt-2">{{message.user_id | getUserName}} گفتگو را ترک کرد</p>
      </ng-container>
    </li>
  </ul>
  <form
    [formGroup]="messageForm"
    (ngSubmit)="sendMessage()"
    class="d-flex align-items-end p-2 pt-1 position-relative"
  >
    <textarea
      autosize
      formControlName="message"
      class="message-input form-control"
      name="message"
      placeholder="پیام"
    ></textarea>
    <button
      [disabled]="messageForm.controls['message'].value.length === 0"
      type="submit"
      class="me-1"
      color="primary"
      mat-icon-button
    >
      <mat-icon class="send-icon">send</mat-icon>
    </button>
    <button mat-icon-button color="primary" type="button" class="me-1"
            (click)="isShowingEmojiPicker=!isShowingEmojiPicker">
      <mat-icon>mood</mat-icon>
    </button>
    <emoji-mart *ngIf="isShowingEmojiPicker" set="google" [skin]="2" (emojiSelect)="sendEmoji($event)"
                [showPreview]="false"
                [style]="{ position: 'absolute', bottom: '80px', right: '30px' }"></emoji-mart>
  </form>
</section>
