<section
  style="width: 350px"
  class="d-flex flex-column justify-content-center align-items-center p-3"
>
  <h3 class="p-2 mb-3">{{ data.title }}</h3>
  <form class="w-100" mat-dialog-content [formGroup]="formGroup">
    <mat-form-field class="w-100" appearance="fill">
      <mat-label>{{ data.label }}</mat-label>
      <input
        matInput
        formControlName="input"
        name="input"
        type="text"
        required
        [ngModel]="data.value"
      />
      <mat-error
        class="fs-7 letter-space-low"
        *ngIf="formGroup.get('input')?.hasError('required')"
      >وارد کردن {{ data.label }} الزامی می باشد.
      </mat-error>
    </mat-form-field>
  </form>
  <div class="mt-2" mat-dialog-actions>
    <button
      [mat-dialog-close]="formGroup.controls['input'].value"
      mat-raised-button
      color="primary"
    >
      تایید
    </button>
  </div>
</section>
