<app-navbar></app-navbar>
<header>
  <div class="container">
    <div class="row gx-5">
      <div class="col-6 d-flex justify-content-center flex-column">
        <div>
          <h1 class="mb-4 fs-1">منوی دیجیتال چیکو</h1>
          <h3 id="sub-header" class="fs-5-5">سامانه ویترین محصولات و فروش آنلاین</h3>
          <p class="mb-4 fs-5">راهی هوشمندانه برای ساخت منو دیجیتال با کد های QR و اشتراک گذاری آن با مشتریان شما</p>
          <button class="fs-5-5 p-4 rounded-pill" mat-stroked-button color="primary">ساخت منو</button>
        </div>
      </div>
      <div class="col-6 d-flex justify-content-center">
        <img src="assets/images/online-payment.png" alt="online payment">
      </div>
    </div>
  </div>
</header>
