@import "src/styles/colors";

#sub-header {
  color: primary-color(600);
  margin-bottom: 2.5rem;
}

.brand {
  font-family: Khandevane, serif;
  color: primary-color(600);
  cursor: pointer;
}

.icon {
  background-color: primary-color(50);
  color: primary-color(600);
  border-radius: 15px;
  padding: 15px;
  display: inline-flex;
}

.feature-card {
  transition: transform .5s;

  &:hover {
    transform: translateY(-3%);
  }
}

.pricing-card {
  transition: all .7s;
  background-color: #F8F9FA;

  &:hover {
    background-color: #1b2a4e;
    transform: translateY(-5%);

    .pricing-card-title {
      color: white !important;
    }

    .pricing-card-header {
      color: primary-color(50) !important;
    }

    .pricing-card-text {
      color: primary-color(100) !important;
    }
  }
}

