<app-navbar></app-navbar>
<header class="mb-2">
  <div class="container">
    <div class="row gx-5">
      <div data-aos="fade-up" data-aos-duration="2000" class="col-6 d-flex justify-content-center flex-column">
        <div>
          <h1 class="mb-4 fs-1">منوساز هوشمند چیکو</h1>
          <h3 id="sub-header" class="fs-5-5">سامانه ویترین محصولات و فروش آنلاین</h3>
          <div class="mb-4">
            <span class="fs-5" routerLink="/home">با <span class="fs-3 brand">چیکو </span> </span>
            <span class="fs-5-5" typingAnimator
                  [sentences]="['خدماتت رو خیلی راحت به اشتراک بزار.','فقط با چند کلیک منوی هوشمندتو بساز.','محصولاتت رو آنلاین بفروش.']"></span>
          </div>
          <button class="fs-5-5 p-4 rounded-pill" mat-stroked-button color="primary">ساخت منو</button>
        </div>
      </div>
      <div data-aos="flip-left" data-aos-duration="1500" data-aos-delay="1100"
           class="col-6 d-flex justify-content-center">
        <img src="assets/images/online-payment.png" alt="online payment">
      </div>
    </div>
  </div>
</header>
<div style="height: 150px; overflow: hidden;">
  <svg viewBox="0 0 500 150" preserveAspectRatio="none"
       style="height: 100%; width: 100%;">
    <path d="M0.00,49.98 C149.99,150.00 349.20,-49.98 500.00,49.98 L500.00,150.00 L0.00,150.00 Z"
          style="stroke: none; fill: #F8F9FA;"></path>
  </svg>
</div>
<section id="about-us" class="bg-light">
  <div class="container">
    <div class="row align-items-center">
      <div data-aos="fade-left" data-aos-duration="1500" class="col-md-6">
        <h2 class="my-3 fw-bold">با <span class="fs-1 brand">چیکو </span> بروز باش</h2>
        <p class="fs-5">راهی هوشمندانه برای ساخت و اشتراک گذاری منو های دیجیتال</p>
      </div>
      <div class="col-md-6 mt-3 mt-md-0">
        <div class="row align-content-center justify-content-md-start">
          <div class="col-md-6">
            <mat-card data-aos="flip-left" data-aos-duration="1500" class="feature-card text-center shadow mb-4">
              <mat-card-content>
                <fa-icon [icon]="['fas', 'shopping-cart']" class="fs-2 icon text-primary"></fa-icon>
                <h5 class="mt-4">پرداخت آنلاین</h5>
              </mat-card-content>
            </mat-card>
            <mat-card data-aos="flip-left" data-aos-duration="1500" class="feature-card text-center shadow mb-4">
              <mat-card-content>
                <fa-icon [icon]="['fas', 'folder']" class="fs-2 icon text-primary"></fa-icon>
                <h5 class="mt-4">ایجاد دسته بندی ها</h5>
              </mat-card-content>
            </mat-card>
          </div>
          <div class="col-md-6 mt-md-5 mt-0">
            <mat-card data-aos="flip-left" data-aos-duration="1500" class="feature-card text-center shadow mb-4">
              <mat-card-content>
                <fa-icon [icon]="['fas', 'share-nodes']" class="fs-2 icon text-primary"></fa-icon>
                <h5 class="mt-4">اشتراک گذاری سریع</h5>
              </mat-card-content>
            </mat-card>
            <mat-card data-aos="flip-left" data-aos-duration="1500" class="feature-card text-center shadow mb-4">
              <mat-card-content>
                <fa-icon [icon]="['fas', 'qrcode']" class="fs-2 icon text-primary"></fa-icon>
                <h5 class="mt-4">کد QR برای منو ها</h5>
              </mat-card-content>
            </mat-card>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<div style="height: 100px; overflow: hidden;">
  <svg viewBox="0 0 500 150" preserveAspectRatio="none"
       style="height: 100%; width: 100%;">
    <path d="M0.00,49.98 C149.99,150.00 271.49,-49.98 500.00,49.98 L500.00,0.00 L0.00,0.00 Z"
          style="stroke: none; fill: #F8F9FA;"></path>
  </svg>
</div>
<section id="pricing" class="my-5">
  <div class="container">
    <h3 data-aos="fade-up" data-aos-duration="1500" class="text-center fw-bold mb-5">تعرفه ها</h3>
    <div class="row g-4 align-items-center">
      <div class="col-md-3">
        <mat-card data-aos="flip-right" data-aos-duration="1200" class="pricing-card shadow text-center py-1">
          <mat-card-content>
            <fa-icon [icon]="['fas', 'credit-card']" class="fs-2 icon text-primary"></fa-icon>
            <h3 class="pricing-card-title fw-bold mt-4 mb-5">اول</h3>
            <h5 class="pricing-card-header">۱۰۰,۰۰۰ تومان</h5>
            <h6 class="pricing-card-header mb-4">یک ساله</h6>
            <p class="pricing-card-text text-muted">ویژگی اول</p>
            <p class="pricing-card-text text-muted">ویژگی دوم</p>
            <p class="pricing-card-text text-muted">ویژگی سوم</p>
            <button mat-raised-button color="primary" class="mt-3 rounded-pill">خرید</button>
          </mat-card-content>
        </mat-card>
      </div>
      <div class="col-md-3">
        <mat-card data-aos="flip-right" data-aos-duration="1200" class="pricing-card shadow text-center py-1">
          <mat-card-content>
            <fa-icon [icon]="['fas', 'credit-card']" class="fs-2 icon text-primary"></fa-icon>
            <h3 class="pricing-card-title fw-bold mt-4 mb-5">دوم</h3>
            <h5 class="pricing-card-header">۲۰۰,۰۰۰ تومان</h5>
            <h6 class="pricing-card-header mb-4">یک ساله</h6>
            <p class="pricing-card-text text-muted">ویژگی اول</p>
            <p class="pricing-card-text text-muted">ویژگی دوم</p>
            <p class="pricing-card-text text-muted">ویژگی سوم</p>
            <button mat-raised-button color="primary" class="mt-3 rounded-pill">خرید</button>
          </mat-card-content>
        </mat-card>
      </div>
      <div class="col-md-3">
        <mat-card data-aos="flip-right" data-aos-duration="1200" class="pricing-card shadow text-center py-1">
          <mat-card-content>
            <fa-icon [icon]="['fas', 'credit-card']" class="fs-2 icon text-primary"></fa-icon>
            <h3 class="pricing-card-title fw-bold mt-4 mb-5">سوم</h3>
            <h5 class="pricing-card-header">۳۰۰,۰۰۰ تومان</h5>
            <h6 class="pricing-card-header mb-4">یک ساله</h6>
            <p class="pricing-card-text text-muted">ویژگی اول</p>
            <p class="pricing-card-text text-muted">ویژگی دوم</p>
            <p class="pricing-card-text text-muted">ویژگی سوم</p>
            <button mat-raised-button color="primary" class="mt-3 rounded-pill">خرید</button>
          </mat-card-content>
        </mat-card>
      </div>
      <div class="col-md-3">
        <mat-card data-aos="flip-right" data-aos-duration="1200" class="pricing-card shadow text-center py-1">
          <mat-card-content>
            <fa-icon [icon]="['fas', 'credit-card']" class="fs-2 icon text-primary"></fa-icon>
            <h3 class="pricing-card-title fw-bold mt-4 mb-5">چهارم</h3>
            <h5 class="pricing-card-header">۴۰۰,۰۰۰ تومان</h5>
            <h6 class="pricing-card-header mb-4">یک ساله</h6>
            <p class="pricing-card-text text-muted">ویژگی اول</p>
            <p class="pricing-card-text text-muted">ویژگی دوم</p>
            <p class="pricing-card-text text-muted">ویژگی سوم</p>
            <button mat-raised-button color="primary" class="mt-3 rounded-pill">خرید</button>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>
