@import "src/styles";

header {
  margin: 5rem 0;

  #sub-header {
    color: primary-color(600);
    margin-bottom: 2.5rem;
  }
}

.feature-card {
  transition: transform 0.5s;

  &:hover {
    transform: translateY(-3%);
  }
}

.brand {
  font-family: Khandevane, serif;
  color: primary-color(600);
  cursor: pointer;
}
