<ng-container *ngIf="userPlans$ | async as userPlans">
  <section class="mt-5 px-sm-5 px-4">
    <h1 class="mb-5">اشتراک ها</h1>
    <div class="overflow-auto">
      <table mat-table [dataSource]="userPlans">
        <ng-container matColumnDef="type">
          <th mat-header-cell *matHeaderCellDef>نوع</th>
          <td mat-cell
              *matCellDef="let element"> {{element.plan.name}} </td>
        </ng-container>
        <ng-container matColumnDef="price">
          <th mat-header-cell *matHeaderCellDef>قیمت (تومان)</th>
          <td mat-cell
              *matCellDef="let element"> {{element.plan.price ? (element.plan.price | numLatinToFa) : '۰'}} </td>
        </ng-container>
        <ng-container matColumnDef="start_date">
          <th mat-header-cell *matHeaderCellDef>زمان شروع</th>
          <td mat-cell
              *matCellDef="let element"> {{element.start_date ? (element.start_date | date : "short") : 'نامشخص'}} </td>
        </ng-container>
        <ng-container matColumnDef="end_date">
          <th mat-header-cell *matHeaderCellDef>زمان پایان</th>
          <td mat-cell
              *matCellDef="let element"> {{element.end_date ? (element.end_date | date : "short") : 'نامشخص'}} </td>
        </ng-container>
        <ng-container matColumnDef="is_active">
          <th mat-header-cell *matHeaderCellDef>وضعیت</th>
          <td mat-cell *matCellDef="let element">
            <ng-container *ngIf="element.is_active; else notActive">
              فعال
            </ng-container>
            <ng-template #notActive>
              <button (click)="activePlan(element.plan)" class="p-0" mat-button color="primary" type="button">فعالسازی
              </button>
            </ng-template>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
  </section>
</ng-container>
