<div class="py-4 pe-lg-0 px-5 w-100">
  <form
    class="row gy-3"
    [formGroup]="menuForm"
    (ngSubmit)="menuForm.valid && onSubmit()"
  >
    <mat-form-field class="col-lg-4" appearance="fill">
      <mat-label>نام</mat-label>
      <input
        matInput
        formControlName="name"
        name="name"
        type="text"
        required
        [ngModel]="menu.name"
      />
      <mat-error
        class="fs-7"
        *ngIf="submitted && menuForm.get('name')?.hasError('required')"
      >وارد کردن نام منو الزامی می باشد.
      </mat-error>
    </mat-form-field>
    <mat-form-field class="col-lg-4" appearance="fill">
      <mat-label>تلفن</mat-label>
      <input
        matInput
        formControlName="telephone"
        name="telephone"
        type="text"
        class="number-input"
        [ngModel]="menu.telephone"
        appNumbersOnly
      />
      <span matTextSuffix><mat-icon>call</mat-icon></span>
    </mat-form-field>
    <mat-form-field class="col-lg-4" appearance="fill">
      <mat-label>تلفن همراه</mat-label>
      <input
        matInput
        formControlName="phone"
        name="phone"
        type="text"
        class="number-input"
        [ngModel]="menu.phone"
        appNumbersOnly
      />
      <span matTextSuffix><mat-icon>smartphone</mat-icon></span>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>آدرس</mat-label>
      <textarea
        matInput
        formControlName="address"
        name="address"
        [ngModel]="menu.address"
      ></textarea>
    </mat-form-field>
    <div class="mt-4">
      <button
        type="submit"
        (click)="submitted = true"
        mat-raised-button
        color="primary"
      >
        ثبت
      </button>
    </div>
  </form>
</div>

