#icon-container {
  bottom: 5%;
  right: 25px;
  z-index: 400;
}

#chat-container {
  width: 320px;
  height: 512px;
  bottom: 15%;
  right: 25px;
  z-index: 300;
}

.disable {
  pointer-events: none;
}
