<div id="icon-container" class="position-absolute position-fixed" (click)="toggleChat()">
  <button mat-fab color="primary" matTooltip="پشتیبانی">
    <mat-icon *ngIf="!isChatShowing">chat</mat-icon>
    <mat-icon *ngIf="isChatShowing">close</mat-icon>
  </button>
</div>
<section [@openClose]="isChatShowing ? 'open' : 'closed'" id="chat-container"
         class="position-absolute position-fixed rounded shadow bg-white"
         [ngClass]="isChatShowing ? '' : 'disable'">
  <app-register-chat *ngIf="!isUserRegistered"></app-register-chat>
</section>
